*{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    background-color: #443C68;
    color: #f5f5f5;
    font-family: 'Poppins', sans-serif;
}
.container{
    background-color: #18122B;
    padding: 1em;
    margin: 0 auto;
    max-width: 800px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}

.color-input{
    width: 20%;
    height: 50px;
    border-radius: 6px;
}
.color-select{
    width: 30%;
    font-size: 1rem;
    background-color: #443C68;
    color: #f5f5f5;
    border: 2xp solid #fff;
    border-radius: 6px;
}
.btn{
    width: 40%;
    background-color: #443C68;
    font-size: 1rem;
    font-family: inherit;
    color: #ffff;
    border: 1px solid #fff;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.5s;
}
.btn:hover{
    transform: scale(1.1);
}
.opt{
    color: #f5f5f5;
    background-color: #18122B;
}


/*Color Render Section*/
.render-color-div{
    padding-top: 0;
    margin: 0.5em  auto 0 auto;
    max-width: 800px;
    display: flex;
    gap: 0.3em;
    padding: 0.5em;
}
.color-render{
    cursor: pointer;
    margin: 0;
    width: 20%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.color-name{
    font-size: 0.7rem;
}
